<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Timeline - happn-map</title>
  <link rel="icon" type="image/png" href="{{ assetsUrl('img/happn-196x196.png') }}" sizes="196x196"/>
  <link rel="icon" type="image/png" href="{{ assetsUrl('img/happn-128x128.png') }}" sizes="128x128"/>
  <link rel="icon" type="image/png" href="{{ assetsUrl('img/happn-32x32.png') }}" sizes="32x32"/>
  <link rel="icon" type="image/png" href="{{ assetsUrl('img/happn-16x16.png') }}" sizes="16x16"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  {{ script('vendor/vis/dist/vis') }}
  {{ css('vendor/vis/dist/vis') }}
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css" rel="stylesheet" />
  <script>
    mapboxgl.accessToken = '{{{ MAPBOX_TOKEN }}}';
  </script>
  <style>
    /* General styles */
    html,
    body
    {
      font-family: sans-serif;
    }
  </style>
  <style>
    /* Timeline styles */
    #visualization .vis-item
    {
      background-color: transparent;
    }
    #visualization .vis-item,
    #visualization .vis-item .vis-item-content
    {
      border-radius: 3px;
    }
    #visualization .vis-item .vis-item-content
    {
      padding: 0;
    }

    .photo
    {
      background-size: cover;
      min-height: 100px;
      min-width: 100px;
    }
    .photo > div
    {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .photo h3
    {
      color: white;
      margin: 0;
      text-align: center;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
  </style>
  <style>
    /* Mapbox styles */
    #map
    {
      min-height: 400px;
      width: 100%;
    }

    .marker
    {
      display: block;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      padding: 0;
    }
  </style>
</head>
<body>
<div class="grid-container">
  <div class="grid-row">
    <div class="grid-column">
      <div id="map"></div>
    </div>
    <div class="grid-column">
      <div id="profile"></div>
    </div>
  </div>
  <div class="grid-row">
    <div id="visualization"></div>
  </div>
</div>

  {{ script('js/timeline') }}
</body>
</html>
